[Unit]
Description=Spore Seeder
Wants=network-online.target
After=network.target network-online.target

[Service]
AmbientCapabilities=CAP_SYS_ADMIN
ExecStart=/usr/local/share/spore-seeder/spore-seeder.pl --service
Type=simple
User=spore
Restart=on-failure
StandardOutput=journal

[Install]
WantedBy=multi-user.target