# Default configurations for the Spore Seeder Service

# This is the queried Spore server's address.
address=rootofqaos.com

# This value indicates whether or not the signature should be verified.
# Set to false if the signature should not be verified.
verify=True

# How often spore-seeder should poll the server, in seconds.
# This value is used when autoFill is False.
pollInterval=180

# Should seeder monitor the entropy reading and seed it when it is below a threshold.
autoSeed=True

# The threshold of entropy. Seeder will start to seed once entropy reading is
# below this value.
entropyThreshold=3000

# Display verbose information
verbose=True

