# Default configurations for the Spore Seeder Service

# This is the queried Spore server's address.
address=entropy.2keys.io

# This value indicates whether or not the signature should be verified.
# Set to false if the signature should not be verified.
verify=True

# How often spore-seeder should poll the server, in seconds.
pollInterval=5
